<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!--
    singleton（默认） 在IOC容器中，这个bean的对象始终为单实例 IOC容器初始化时 单例
    prototype 这个bean在IOC容器中有多个实例 获取bean时 多例

    其他 WebApplicationContext:
        request 在一个请求范围内有效
        session 在一个会话范围内有效
-->
    <bean id="student" class="cn.spring.pojo.Student" scope="prototype">
        <property name="sid" value="100"></property>
        <property name="sname" value="虾米"></property>
        <property name="age" value="18"></property>
    </bean>
</beans>