<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="myBeanPostProcessor" class="cn.spring.process.MyBeanPostProcessor"></bean>
    <bean id="user" init-method="initMethod" scope="singleton" destroy-method="destroyMethod" class="cn.spring.pojo.User">
        <property name="id" value="1"></property>
        <property name="age" value="12"></property>
        <property name="username" value="root"></property>
        <property name="password" value="123456"></property>
    </bean>
</beans>